.Button {
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    border-radius: 2px;
    cursor: pointer;
}

.Button[type="primary"] {
    background-color: var(--rosa);
    color: var(--cinza);
}
.Button[type="secondary"] {
    background-color: var(--verde);
    color: var(--cinza);
}